/* this style page is responsible for each layout of the three pages we have  
(index,blog_post and blog_home)*/ 

/*<MOBILE> :  this styling are for mobile device ---------*/ 

@media (min-device-width:0px) and (max-device-width: 599px)
{

    body
    {
        font-family: 'Roboto', sans-serif;
        background-color:#FEFEDF;

    }

    .container 
    {
        display: flex;
        flex-direction: column;
    }

    /* mobile header styling -----------------------*/ 


    .header 
    {

        /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
        border-bottom: 2px solid #A8EB12;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120px;
        margin-bottom: 10px;
        padding-top: 10px;

    }

    .nav_links
    {
        width: 80vw;
        padding-top: 25px;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        
    }


    /* target all the links inside the class nav_links */
    .nav_links a
    {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    /* mobile section styling  ------------------*/

    .section 
    {
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: #A8EB12;
        margin-bottom: 10px;
    }


    .card 
    {
        background-color: #FEFEDF;
        display: grid;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        grid-template-areas: 100px;
        grid-template-rows: 50px 150px 50px;
        grid-template-areas: "card_header" "card_body" "card_footer";
        /*border: 2px solid black;*/
        border-radius: 18px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        text-align: center;
    }

    .card_header 
    {
        /* or we can also make the full header 90% */ 
        padding-top: 10px;
        grid-area: card_header;
    }

    .card_header h3 
    {
        border-bottom: 2px solid black;
        width: 90%;
        margin:auto;
    }

    .card_body 
    {
        grid-area: card_body;
    }

    .card_footer 
    {
        display: flex;
        justify-content: center;
        grid-area: card_footer;
    }

    .card_footer div
    {
        padding: 0px 10px;

    }

    .blog_page 
    {
        background-color: black;
        padding: 10px;
        border-radius: 25px;
        color: white;
        font-weight: bold;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    }
    .card_footer a 
    {
        text-decoration: none;
    }

    .card_footer a img 
    {
        
        width : 30px ; 
        height: 25px;
    }



    /* mobile footer styliing -------------------*/

    .footer 
    {

        border-bottom:2px solid #A8EB12;
        border-top: 2px solid #A8EB12;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 120px;
   
    }

    .footer .social_icons 
    {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }

    .footer .social_icons li 
    {
        list-style-type: none;
   
    }

    .footer .social_icons a 
    {
        color: white;
        text-decoration: none;
        padding: 10px;

    }

    .footer .social_icons img 
    {
        /*border-radius: 50%;*/
        width: 35px;
        height: 35px;
    }

    .footer .copy_right 
    {
        width: 80%;
        margin: auto;
        font-size: 14px;
        color:black;
        text-align: center;


    }




    

}
/*</MOBILE> : end of mobile sytling ----------------------*/




/* this media query is for tablets */ 
@media (min-device-width:600px) and (max-device-width: 1024px)
{


    .container 
    {
        background-color:#FEFEDF;
        width: 95vw;
        margin: auto;
       
    }


    body
    {
        font-family: 'Roboto', sans-serif;
   
    }    




    /* <TABLET> -------------------------------------------*/ 

    /* tablet header styling -------------------*/
    .header 
    {
        display: flex;
        background-color: #A8EB12;
        color:white;
        width: 100%;
        border-radius: 10px;

    }

    /* targetting the list inside the header class only */
    .header > h1 
    {
        flex: 1.5;
        padding: 10px;
    }

    .header > ul  
    {
        padding: 10px;
        list-style-type: none;
        display: flex;
        flex: 2.5;
        justify-content: space-around;
        align-items: center;

    }

    .header > ul > li > a 
    {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }



    /* tablet section styling --------------------*/ 
    .section
    {
        margin: 10px;
    }

    .card_body 
    {
        width: 90%;
        margin: auto;
    }

    .blog_page 
    {
        background-color: #A8EB12;
        padding: 6px;
        border-radius: 25px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .twitter_handle
    {
        margin-bottom: 20px;
    }


    .card 
    {
        background-color: #FEFEDF;
        display: grid;
        width: 90%;
        margin: auto;
        height: 35vh;
        margin-bottom: 10px;
        grid-template-areas: 100px;
        grid-template-rows: 50px 150px 50px;
        grid-template-areas: "card_header" "card_body" "card_footer";
        /*border: 2px solid black;*/
        border-radius: 6px;
        box-shadow: 5px 5px 15px  rgba(0,0,0,0.9);
        text-align: center;
    }



    /* tablet  footer styling -------------------*/


    .footer 
    {

        border-bottom:2px solid #A8EB12;
        border-top: 2px solid #A8EB12;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 120px;
   
    }

    .footer .social_icons 
    {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }

    .footer .social_icons li 
    {
        list-style-type: none;
   
    }

    .footer .social_icons a 
    {
        color: white;
        text-decoration: none;
        padding: 10px;

    }

    .footer .social_icons img 
    {
        /*border-radius: 50%;*/
        width: 35px;
        height: 35px;
    }

    .footer .copy_right 
    {
        width: 80%;
        margin: auto;
        font-size: 14px;
        color:black;
        text-align: center;


    }


    /* </TABLET> end of tablet styling --------------------------*/



}

/* -----------------------------------------------*/



/* this media query  is for laptops */
@media (min-device-width: 1200px)
{

    body
    {
        background-color: black;
    }

    /* <LAPTOP> (DESKTOP)------------------------------------------------*/

    /* laptop header styling ----------------------------*/



    /* laptop section styling ----------------------------*/ 



    /* laptop footer styling -----------------------------/> */

    /* </LAPTOP> --------------------------------------------*/
}

/* -------------------------------------------------*/