/* this is the root css file, from which we will import other files . */ 

* 
{
    margin: 0%; 
    padding: 0%;
}

p 
{
    font-weight: bold;
}

.authors_img 
{

    width: 100px;
    height:200px;
}

.general_div_class 
{
    padding: 1px;
}

.general_section_class
{
    padding:10px;
}






/* other css files import */ 
/* like background image if needed */